html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

body {
  background-color: #edf4f2;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center; }
  body .header {
    background-color: #007892;
    padding: 2% 0; }
    body .header h2 {
      font-size: 1.5em; }
  body .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }
    body .container ul {
      list-style: none; }
    body .container .country {
      font-size: 2em;
      margin: 3% 0; }
    body .container .item-row {
      margin: 9px; }
      body .container .item-row a,
      body .container .item-row span {
        display: block;
        background-color: #fff;
        -webkit-border-radius: 16px;
           -moz-border-radius: 16px;
                border-radius: 16px;
        font-weight: 400;
        font-size: 1.3em;
        padding: 3%;
        color: #333; }
  body .footer {
    background-color: #007892; }
